<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .form {
            display: inline-block;
            padding: 20px;
            border: 1px solid black;
            border-radius: 10px;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:unless="${user!=null}">
    <h1>Can't find user <span th:text="${userId}"></span></h1>
</div>
<div th:if="${user!=null}">
    <form action="/user/update" method="post">
        <div class="form">
            <form action="/user" method="post">
                <p class="text-center">Update User</p>
                <input th:value="${user.getId()}" type="hidden" name="id" id="id">
                <p>
                    <input th:value="${user.getUsername()}" type="text" id="username" name="username">
                    <label for="username">username</label>
                </p>
                <p>
                    <input th:value="${user.getFirstname()}" type="text" id="firstname" name="firstname">
                    <label for="firstname">firstname</label>
                </p>
                <p>
                    <input th:value="${user.getEmail()}" type="text" id="email" name="email">
                    <label for="email">email</label>
                </p>
                <p class="text-center">
                    <input type="submit" value="Update">
                </p>
            </form>
        </div>
    </form>
</div>
</body>
</html>